<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Library Status Report Application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!-- A simple screen to allow login or registration -->
<div class="container text-center">
    <h1>Library Status Report Application</h1>
    <h3><a th:href="@{/users}">Go to Users</a></h3>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3>
</div>

</body>
</html>